@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import "./utils/variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

body {
  background: $main-page__gradient;
}
