@import "../../utils/variables.scss";

.weather-list {
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    --curColor: lighten($clear-sky, 10%);
    transition: all 300ms ease-in-out, opacity 500ms ease-in-out;
    opacity: 1;
    box-shadow: inset -26px 0px 25px -30px rgba(0, 0, 0, 0.75);

    // darken ~ mix with black function
    @function mixb($variable, $opacity) {
        @return unquote(
            "linear-gradient(to top,rgba(0, 0, 0," + $opacity + "),rgba(0, 0, 0," + $opacity + "))" + $variable
        );
    }

    &--clear {
        background-color: lighten($clear-sky, 10%);
        --curColor: lighten($clear-sky, 10%);

        .weather-list__item {
            color: #222222;
        }
    }
    &--clouds {
        background-color: lighten($cloudy-sky, 10%);
        --curColor: lighten($cloudy-sky, 10%);

        .weather-list__item {
            color: #111111;

            .weather-list__temperature--night {
                color: #555555 !important;
            }
        }
    }
    &--thunderstorm,
    &--drizzle,
    &--rain {
        background-color: lighten($stormy-sky, 10%);
        --curColor: lighten($stormy-sky, 10%);

        .weather-list__item {
            color: #eeeeee;

            .weather-list__temperature--night {
                color: #bbbbbb !important;
            }
        }
    }
    &--snow {
        background-color: lighten(#999999, 10%);
        --curColor: lighten(#999999-sky, 10%);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 5px;

        .weather-list__item {
            padding: 0px 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 1rem;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 100ms ease-in-out, color 500ms ease-in-out;
            // margin-bottom: -10px;

            .weather-list__day {
                padding: 0 5px;
                padding-right: 25px;
            }

            .weather-list__info {
                display: flex;
                flex-direction: row;
                padding: 5px 5px;
                // align-items: flex-start;

                .weather-list__dates {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 5px 0;
                }
            }

            .weather-list__temperature {
                // margin-top: 5px;

                &--night {
                    margin-top: 0;
                    color: #444444;
                    transition: 300ms ease-in-out;
                }
            }

            &--active {
                background-color: rgba(#eeeeee, 0.2);
            }
        }
    }

    &--hidden {
        // z-index: -1;
        right: 0;
        opacity: 0;
        // transform: scaleX(0);
    }

    @media (min-width: 400px) {
        & {
            width: 100%;
            max-width: 270px !important;
            .weather-list__wrapper {
                width: 100%;
                max-width: 260px !important;

                .weather-list__item {
                    width: calc(100% - 20px);
                    // max-width: 225px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        & {
            position: relative;
            right: auto;
            margin-top: 10px;
            border-radius: 15px;
            box-shadow: none;
            background-color: transparent;
            width: calc(100% + 30px); //test
            max-width: 280px;

            .weather-list__wrapper {
                flex-direction: row;
                overflow-x: auto;
                // max-width: 240px;
                max-width: 280px; //test
                width: 100%;
                padding: 5px 0;
                justify-content: flex-start;
                // margin-right: 15px;

                .weather-list__item {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 5px;
                    // display: inline-block;
                    position: relative;
                    // &::after {
                    //     content: "";
                    //     position: absolute;
                    //     right: -100px;
                    //     width: 40px;
                    //     height: 100%;
                    //     background: red;
                    // }

                    &:first-child {
                        margin-left: 15px;
                    }

                    &:last-child {
                        margin-right: 15px;
                    }

                    &:nth-child(8)::after {
                        content: "";
                        position: absolute;
                        right: -15px;
                        width: 40px;
                        height: 100%;
                        // background: red;
                    }

                    .weather-list__day {
                        width: 100%;
                        padding: 5px 0;
                        font-size: 1.25rem;
                        padding-bottom: 0;
                    }

                    .weather-list__info {
                        // flex-direction: column;
                        // padding-top: 0;
                        flex-wrap: wrap;
                        // max-width: 60px;

                        .weather-list__weather-icon {
                            // width: 100%;
                            width: 50px;
                            // margin: 0 auto;
                        }

                        .weather-list__dates {
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;
                            margin-top: -10px;
                            .weather-list__temperature {
                                // margin-top: -5px;
                                // width: fit-content;
                                font-size: 0.9rem;

                                &--night {
                                    // margin-left: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
